html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.diplay-flex {
  display: flex;
}

.width-100 {
  min-width: 100%;
}

.justify-center {
  justify-content: center;
  align-items: baseline;
}

.ma-1 {
  margin: 10px;
}

.ma-05 {
  margin: 5px;
}

.padding-1 {
  padding: 10px;
}

.padding-05 {
  padding: 5px;
}

.column {
  flex-direction: column;
}

.espace-content {
  justify-content: space-between;
}

.flex-end {
  justify-content: end;
}

input[type="text"] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #27104e;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.container {
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.flex-container-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.flex-container-width {
  border: 3px solid rgb(133, 133, 133);
  border-radius: 7px;
  width: 100%;
  min-width: 400px;
  margin: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.label {
  width: 93%;
}

.bg-dark {
  background-color: #27104e;
}

.text-white {
  color: white;
}

.badge-status {
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.border-radius {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.dark-hover:hover {
  transition: 0.5s;
  background-color: #3f2370;
  color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dark-red {
  background-color: red;
}

.dark-red:hover {
  transition: 0.5s;
  background-color: rgb(255, 49, 49);
  color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.overflow-x {
  overflow-x: scroll;
}

.color-grey {
  background-color: rgb(192, 192, 192);
}

.align-items-center {
  align-items: baseline;
}

.cursor-pointer {
  cursor: pointer;
}

.text-ellips {
  white-space: nowrap; 
  width: 375px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
